<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout/index.html :: dynamic(~{::main})}">
<body>
	<main>
		<nav>
			<div class="nav nav-tabs" style="padding-bottom: 7px;" id="nav-tab" role="tablist">
				<a class="nav-link text-uppercase" th:classappend="${isCatDetails} == 'tab1' ? 'active' : ''" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Category List</a>
				<a class="nav-link text-uppercase" th:classappend="${isCatDetails} == 'tab2' ? 'active' : ''" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Category Detail</a>
			</div>
		</nav>
		<div class="tab-content container" id="nav-tabContent">
			<!-- ------------------------- -->
			<div class="tab-pane fade container-fluid " th:classappend="${isCatDetails} == 'tab1' ? 'show active' : ''" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
				<div class="col-12">
					<div class="card my-4">
						<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 mt-2">
								<h4 class="text-white text-capitalize ps-3 text-center ">CATEGORIES LIST</h4>
							</div>
						</div>
						<div class="card-body px-0 pb-2" style="min-height: 307px">
							<div class="table-responsive p-0">
								<table class="table align-items-center mb-0 table-hover">
									<thead>
										<tr>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
											<th class="text-secondary opacity-7"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="cate : ${lstCategoryEntity.content}">
											<td>
												<div class="d-flex px-2 py-1">
													<div class="d-flex flex-column justify-content-center">
														<h6 class="mb-0 text-sm">[[${cate.name}]]</h6>
													</div>
												</div>
											</td>
											<td class="align-middle text-center text-sm">
												<th:block th:if="${cate.isdeleted == false}">
													<span class="badge badge-sm bg-gradient-success">Active</span>
												</th:block>
												<th:block th:if="${cate.isdeleted == true} ">
													<span class="badge badge-sm bg-gradient-danger">Disable</span>
												</th:block>
											</td> 

											<td class="align-middle">
												<a th:href="@{|/admin/category/details/${cate.id}|}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user"> Edit </a>
											</td>
										</tr>
									</tbody>


								</table>

							</div>
						</div>
						<div class="card-footer">
							<div class="text-center">
								<div class="">
									<a class="btn btn-primary" th:href="@{|/admin/categories?pageCount=0|}">First</a>
									<a class="btn btn-primary" th:href="@{|/admin/categories?pageCount=${lstCategoryEntity.number - 1}|}">Prev</a>
									<a class="btn btn-primary" th:href="@{|/admin/categories?pageCount=${lstCategoryEntity.number + 1}|}">Next</a>
									<a class="btn btn-primary" th:href="@{|/admin/categories?pageCount=${lstCategoryEntity.totalPages - 1}|}">Last</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


			<!-- CATEGORY EDIT------------------------- -->

			<div class="tab-pane fade  container-fluid " th:classappend="${isCatDetails} == 'tab2' ? 'show active' : ''" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
				<form method="post" th:action="@{|/admin/categories/details|}" enctype="multipart/form-data" autocomplete="off">
					<div class="row px-5 ">

						<div class="col-6">
							<div class="input-group input-group-outline my-3 is-filled focused is-focused">
								<label class="form-label">Category Name</label>
								<input type="text" id="categoryName" name="categoryName" class="form-control" th:value="${modelCategory.name}">
							</div>

							<div class="form-check form-switch ps-0" th:classappend="${modelCategory.isdeleted} ? ' is-filled focused' : ' ' ">
								<input disabled class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" th:checked="${modelCategory.isdeleted} ? false : ' checked'">
								<label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" style="opacity: 1; color: black !important" for="flexSwitchCheckDefault" th:utext="${modelCategory.isdeleted} ? 'Disable' : 'Active'"></label>
							</div>


				<!-------------------------		END CATEGORY EDIT------------------------->

						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-primary" formaction="/admin/category/details/insert" th:hidden="${isEdit} ? true : false">Create</button>
						<button class="btn btn-warning" formaction="/admin/category/details/update" th:hidden="${isEdit} ?  false : true" onclick="successForm()">Update</button>
						<button class="btn btn-danger" formaction="/admin/category/updateAciveFlag" th:hidden="${isDelete} ? true : false">Disable</button>
						<button class="btn btn-danger" formaction="/admin/category/updateAciveFlag " th:hidden="${isDelete} ? false : true">Active</button>
						<button class="btn btn-success">Reset</button>
					</div>
				</form>
			</div>
		</div>

		<script>
			function tabChanged() {
				$(".nav-tabs a:eq(1)").tab('show');
			}

			function successForm() {
				Swal.fire({
					position : 'top-end',
					icon : 'success',
					title : 'Your work has been saved',
					showConfirmButton : false,
					timer : 1500
				})
			}

		</script>


	</main>
</body>
</html>
